services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: rag_postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d rag_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  rag-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rag_app
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./models:/app/models
      - .:/app  # Добавляем монтирование текущей директории
    command: sleep infinity  # ← ЭТА СТРОКА ДЕРЖИТ КОНТЕЙНЕР АКТИВНЫМ
    restart: unless-stopped

volumes:
  postgres_data: